@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), url('./fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

.v-application {
 font-family: 'Kanit' !important;
}

// or

#app {
  font-family: 'Kanit';
}
